.container {
  position: relative;
  bottom: 0;
}

.bigHeading {
	font-size: 3rem;
}

.video {
  @keyframes move {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(800px, -800px);
    }
  }

  position: absolute;
	animation-timing-function: cubic-bezier(.17,.67,.01,.98);
	animation-delay: 5s;
  animation: move 10s infinite;
}
