.text {
  @keyframes animatedBackground {
    from {
			color: transparent;
      background-position: 60% 5%;
    }
    to {
      background-size: 800%;
      background-position: 0% 40%;
    }
  }

  animation: animatedBackground 3s normal;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);

  background-size: 800%;
  background-position: 0% 40%;
	color: inherit;
	font-size: 4rem;

  background-clip: text;
  -webkit-background-clip: text;
  background-image: url("./wave.svg");
  background-repeat: no-repeat;
}
